<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    
    <!-- Favicon - Generic -->
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- Favicon - Android -->
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
    <!-- Favicon - iOS -->
    <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon.ico">
    
    <title>Unterrainer Informatik OG</title>
  </head>

  <body>
      Einfach den link unterbei rechts-klicken und 'Ziel speichern unter...' auswählen.<br>
      Wenn Du einfach drauf klickst, wird es abgespielt.
      <br><br>
      <a href="https://files.unterrainer.info/files/kiga/Der positive Blick auf das Kind (o).mkv">Der positive Blick auf das Kind (o).mkv</a>
  </body>
</html>
